#somaMes{
    /* estado normal do botão */
/*transform:scale(1);*/
color: blue;
width: 30px;
height: 30px;
transition:transform 1s;

}

#somaMes:active{
       /* estado active do botão*/
transform:scale(1.2);
}

#subtraiMes{ color: blue;}