#somaMes{
    /* estado normal do botão */
/*transform:scale(1);*/
background-color: aliceblue;
width: 30px;
height: 30px;
transition:transform 1s;

}

#somaMes:active{
       /* estado active do botão*/
transform:scale(2);
}
